<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>
<meta name="google-site-verification" content="VxShLCidOTZ7c2lPISEdGvW7jvgen1w_8eSC0f-XXkc" />
<body>
	<%- partial('_partial/header.ejs') %>
	<%- partial('_partial/sidebar.ejs') %>

	<!-- 引入正文 -->
	<div id="content">
		<%- body %>
	</div>
	<%- partial('_partial/footer.ejs') %>
	<%- partial('_partial/totop') %>
	<script src="<%- config.root %>js/hexo_resize_image.js"></script>
</body>
</html>